api:
  listen: ":1984"

rtsp:
  listen: ":8554"
  default_query: "video&audio"

webrtc:
  listen: ":8555"
  candidates:
    - __HAOS_HOST_IP__:8555

log:
  level: info
  ffmpeg: error

ffmpeg:
  h264: "-c:v libx264 -g:v 8 -bf:v 0 -profile:v high -level:v 4.1 -preset:v superfast -tune:v zerolatency -pix_fmt:v yuv420p"

streams:
  camera___CAMERA_UID__:
    - http://127.0.0.1:8085/cam/__CAMERA_UID__
    - ffmpeg:http://127.0.0.1:8085/audio/__CAMERA_UID__#audio=aac#audio=opus#async
    - ffmpeg:camera___CAMERA_UID__#video=h264
